.venv/
venv/

data/raw/*
data/processed/*

outputs/figures/*
outputs/results/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/figures/.gitkeep
!outputs/results/.gitkeep

*.egg-info/
.ruff-cache/
.pytest_cache/
__pycache__/